[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RCreliability"]
	path = RCreliability
	url = https://github.com/yulu98/rcreliability
	shallow = true
	registered = true
